.info {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: center;
	padding: 1em;
}

.info-container{
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 0;
}
.info__update {
	text-decoration: solid;
}
.info__update > span {
	text-decoration: none;
}